body {

margin: 0em;
padding: 0em;
width: auto;
height: auto;
background: url(imagenes/Logo7.jpg);
font-family: sans-serif;
text-align: center;
top: 100px;
}

.inicio {

    font-style: italic ;
    border-radius: 0.8em;
    width: 400px;
    height: 500px;
    background: #0e85b4;
    color: #000;
    margin: 9%;
    padding: 10px 10px;

}

 .logo {

    width: 200px;
    height: 200px;
    position:absolute; 
    top: -1em;
    left: 7.7em;
}


.inicio label {

    margin: 0;
    padding: 0;
    font-weight:bolder;
    display: block;
    

   

}

.inicio input {

    width: 80%;
    height: 25px;
    border-radius: 5px;
    margin-bottom: 25px;





}


.boton {

    margin: 0;
 padding: 0;
 width: 80%;
 margin: 0.5em 2.8em 0.5em;
 border-radius: 7em;




}
.inicio input [type="username"],
.inicio input [type="email"],
.inicio input [type="password"] {

    border:none;
   
    background: transparent;
    outline: none;
    height: 40px;
    color: rgb(190, 13, 13);
    font-size:  18px;


}

.inicio a  {
    text-decoration: none ;
    font-size: 16px;
    color:rgb(168, 168, 168);
}


.boton {

    transition: transform 0.5s ;
}

.boton:hover{
    transform: scale(1.1)
    }



    